# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://bazcqvuucqassrbpgtqj.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_GxxRt3fqcRmd8GKmXsi9ZQ_JRWNZHKp
SUPABASE_SECRET_KEY=sb_secret_gH8Dv8udwvowoOkDc4_HKg_AszpAZ96

# Master Password (게시물 관리용)
MASTER_PASSWORD=vyFyD9thhYN2Frzp