# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-or-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Master Password (게시물 관리용)
MASTER_PASSWORD=your_secure_master_password

# MailerSend Configuration (1:1 문의 이메일 발송용)
MAILERSEND_API_KEY=your_mailersend_api_key

# sender email address for inquiry emails
MAILERSEND_SENDER_EMAIL=your_sender_email_address

# Admin Configuration (콤마로 구분하여 여러 이메일 가능)
ADMIN_EMAIL=admin@foodlink.com,admin2@foodlink.com
